@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rakkas&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
    color: #fff;
    text-decoration: none;
    transition: all 0.3s;
    outline: none;
    scroll-behavior: smooth;
}

body {
    /* background: linear-gradient(138deg,#020024b3,#192366ee 37%,#17154ff0 68%,#192366f1); */
    background-color: #17154ff0;
}

.main {
    width: 100%;
    display: flex;
    
    .left-side, .right-side {
        width: 220px;
        min-height: 100vh;
    }
    
    .middle-side {
        min-height: 100vh;
        width: calc(100% - 440px);
        border: solid #cccccc3f;
        border-width: 0 1px;
    }
}

@media screen and (max-width: 1000px) {
    .main {
        flex-direction: column;

        .left-side, .right-side {
            width: 100%;
            min-height: unset;
        }

        .middle-side {
            width: 100%;
            border: none;
        }
    }
}